/* body styles */
body {
  background-color: white;
  margin: 0px;
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
  color: white;
  padding: 30px;
}

/* time style */
time {
  min-width: 85px;
}

/* main styles */
main {
  display: flex;
  justify-content: center;
}

/*coding card style  */
.card {
  max-width: 80%;
  margin-top: 160px;
  border: solid;
  border-width: 2px;
  padding: 60px;
  border-radius: 25px;
  border-color: blueviolet;
  box-shadow: 10px 5px 5px blueviolet;
}

/* start button style */
.button {
  display: block;
  color: white;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.button:hover {
  background-color: rgba(138, 43, 226, 0.5);
}
